<div class="document">

    <div class="title">
        <h3>STWORZONY KOD UŻYTKOWNIKA:</h3>
    </div>

    <div id="main">
        <p>task main()
            //dopisz nawias sześcienny otwierający i zamykający program
        </p>

        <ul *ngFor="let todo of todos">
            <p>OnFwd(OUT_{{todo.type}},{{todo.forward}},{{todo.power}});</p>
        </ul>
    </div>
    <!--<a href="#" id="downloadLink">Download the inner html of #main</a>-->
    <button id="downloadLink">Pobierz kod</button>
</div>