.container{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.field{
    width:200px;
    height: 40px;
    font-size: 30px;
}

.send{
    width: 100px;
    height: 40px;
    display: block;
    margin:auto;
    margin-top: 3px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
}

.send:hover{
    background-color: #092722;
    color:#ffffff;
    transition-duration: 500ms;
}

.guide{
    width: 100%;
    padding: 10px;
}

.instructions{
    width: 100%;
    text-align: center;
    padding: 10px;
}
