.container{
    display: flex;
    font-size: 20px;
}

.field{
    width:200px;
    height: 40px;
    font-size: 30px;
}

.send{
    width: 100px;
    height: 40px;
    display: block;
    margin:auto;
    margin-top: 3px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.send:hover{
    background-color: #092722;
    color:#ffffff;
    transition-duration: 120ms;
}